# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist
/build

# parcel
.cache

# bucklescript
/lib
.merlin
.bsb.lock
*.bs.js

# graphql_ppx
graphql_schema.json

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*